:root {
    --nav-bg:#262626;
    --header-bg:#fafafa;
    --text-white:#fff;
    --box-shadow:#0000000a;

    --verdePadrao: #00861f;
    --verdeEscuro: #26603c;
    --verdeClaro: #20c634;
    --roxoPadrao: #812ccb;
    --cinzaPadrao: #909090;
    --cinzaClaro: #efefef;
    --azulPadrao: #1462a3;
    --cinzaEscuro: #4e4e4e;
    --douradoPadrao: #b79116;
    --douradoEscuro: #937100;
    --vinho: #67161e;
    --pretoPadrao: #1c1c1d;
    --branco: #fcfcfc;
    --vermelhoPadrao: #d5150b;
    --laranjaEscuro: #ba5c0f;
}
* {
    margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
    text-decoration: none;
}
body {
    background-color: #fafafa;
    overflow-x: hidden;
    font-family: pacaembu-light;
    -ms-overflow-style: none;
}
h1 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
h2 {
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
}
h3 {
        display: block;
        font-size: 1.17em;
        margin-block-start: 1em;
        margin-block-end: 1em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        font-weight: bold;
}
li {
    list-style: none;
}
a {
    color:inherit;
}
button {
    all:unset;
    cursor:pointer;
}

.ob-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
    padding-right: 24px;
}

.ob-header-items {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    user-select: none;
    padding: 20px 0 0 24px;
}

.ob-header-items .ob-header-items-options {
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    font-size: 0.68rem;
    height: 136px;
}

.ob-header-items .ob-header-items-options .options-journal-newsletter {
    display: flex;
    flex-direction: row;
    gap: 15px;
    margin: 0 35px 0 20px;
}

.ob-header-items .ob-header-items-options .options-journal-newsletter > a {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    background-color: var(--text-white);
    border-radius: 30px;
    padding: 12px 22px;}

.ob-header-items .ob-header-items-options .options-journal-newsletter > a  > span {
    font-family: pacaembu-bold;
    font-size: 11px;
    line-height: 15px;
    color: #231f20;
}

.ob-header-items .ob-header-items-options .options-journal-newsletter > button, 
.ob-nav-newsletter {
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap:5px;
    padding:5px;
    border-radius: 23px;
    width:142px;
    height: 45px;
    box-shadow: 0 8px 16px var(--box-shadow);
}

.ob-header-items > div > form {
    display: flex;
    align-items: center;
    background-color: #fff;
    flex-direction: row-reverse;
    border-radius: 20px;
    border: 1px solid #70707008;
    padding: 5px 10px 5px 15px;
  }

  .ob-header-items > div > form > div {
    background-color: #ff0a6b;
    border-radius: 50%;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 30px;
    max-height: 30px;
    cursor: pointer;
  }

  .ob-header-items > div > form > div > img {
    width: 15px;
    height: 15px;
  }
  .ob-header-items > div > form > input {
    font-size: 11px;
    width: 100%;
    color: #231f20;
    min-width: 40px;
  }
  .ob-header-items > div > form input {
    flex-grow:1;
    border:none;
  }
  
  .ob-header-items > div > form button {
    height: 30px;
    width: 30px;
    border-radius: 100%;
    background:var(--second-color);;
    text-align: center;
    color:white;
    margin-top: 5px;
  }

.ob-header-items .ob-nav > ul {
    margin-top: 30px;
    display:flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-evenly;
    font-size: 0.8125rem;
    letter-spacing: -.05rem;
    font-size: 13px;
    color:var(--text-color);
}

.ob-header-items .ob-nav > ul > li {
    position: relative;
    font-family: pacaembu-medium;
    color: #726f73;
    font-size: 13px;
    padding-bottom: 20px;
    line-height: 17px;
    cursor: pointer;
    white-space: nowrap;
}

.ob-header-items .ob-nav > ul li:active {
    color: #231f20;
    font-weight: 700;
}

.mw-article-container {
    max-width: 1200px;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.mw-article-container .ob-article-container {
    display: flex;
    gap: 30px;
    position: relative;
}

.ob-article-container .ob-aside {
    margin-top:257px;
}

.ob-article-container .ob-aside .ob-aside-socials {
    display: flex;
    flex-direction: column;
    gap: 5px;
}



.ob-article-content {
    display: flex;
    flex-direction: column;
    gap: 24px;
    max-width: 850px;
    padding-bottom: 36px;
    width: 75%;
}

.ob-article-content > article > h2 {
    color: #726f73;
    font-size: 22px;
    line-height: 28px;
    font-weight: 400;
    margin-bottom: 12px;
    font-family: pacaembu-medium;
}

.ob-article-content > article .chapeu {
    color: #231f20;
    font-size: 14px;
    padding-left: 20px;
    position: relative;
}

.ob-article-content > article .chapeu::after {
    content: "";
    width: 5px;
    height: 5px;
    background-color: #ff0a6b;
    border-radius: 50%;
    display: block;
    position: absolute;
    left: 0;
    top: 5px;
}




.ob-article-content > article > .info {
    display:flex;
    flex-direction: row;
    align-items: center;
    gap:10px;
}

.ob-article-content > article > .info > a > img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}

.ob-article-content > article > .info .info-post {
    display:flex;
    flex-direction: column;
}

.ob-article-content > article > .info .info-post span:first-of-type {
    color: #726f73;
    font-family: inherit;
}

.ob-article-content > article > .info .info-post .info-post-publishDate {
    display:flex;
    flex-direction: row;
}

.ob-article-content > article > .info .info-post .info-post-publishDate span:first-of-type {
    font-family: pacaembu-light;
}

.ob-article-content > article > .info .info-post .info-post-publishDate span {
    color: #726f73;
    font-size: 14px;
    line-height: 16px;
    font-family: pacaembu-light;
}