:root {
    --nav-bg:#262626;
    --text-white:#fff;
}

* {
    margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
    text-decoration: none;
}

h5 {
    font-size: 10px;
}

body {
    font-family: 'Pacaembu', sans-serif;
    font-size: 16px;
    width:100%;
    margin: 0 auto;
    text-decoration: none;
    
}

li {
    list-style: none;
}

a {
    color:inherit;
}

button {
    all:unset;
    cursor:pointer;
}

nav {
    background-color: var(--nav-bg);
    color: var(--text-white);
    font: 14px sans-serif,Helvetica,Arial;
    margin: 0;
    padding: 0;
    position: relative;
    text-align: center;
    width: 100%;
    z-index: 9;
}


nav > div {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin: 0 auto;
    height: 44px;
    max-height: 44px;
    width: 1170px;
    align-items: center;
}

.nav-items-uol {
    margin:auto 30px auto 8px;
}

.nav-items-uol > a > img {
    width:68px;
    border:none;
}

.nav-items-services {
    flex-grow: 2;
    
}

.nav-items-services > ul {
    display:flex;
    flex-direction: row;
    gap:15px;
}

.nav-items-support ul {
    display:flex;
    flex-direction: row;
    gap:15px;
}

header {
    padding-right: 24px;
}

header > div {
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 30px;
    font-size: 0.68rem;
    height: 136px;
}

header > div > div {
    display:flex;
    flex-direction: row;
    gap:15px;
}

header > div > div > button, 
.nav-newsletter {
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap:5px;
    padding:5px;
    border-radius: 23px;
    width:142px;
    height: 45px;
    box-shadow: 0px 5px 7.5px 0px rgba(0,0,0,0.051);
    -webkit-box-shadow: -2px 5px 7.5px 0px rgba(0,0,0,0.051);
    -moz-box-shadow: -2px 5px 7.5px 0px rgba(0,0,0,0.051);
}

header > div > form {
    display:flex;
    flex-direction:row;
    width: 226px;
    height: 45px;
    padding:0px 5px;
    border-radius: 23px;
    box-shadow: 0px 5px 7.5px 0px rgba(0,0,0,0.051);
    -webkit-box-shadow: -2px 5px 7.5px 0px rgba(0,0,0,0.051);
    -moz-box-shadow: -2px 5px 7.5px 0px rgba(0,0,0,0.051);
  }
  
  header > div > form input {
    flex-grow:1;
    border:none;
  }
  
  header > div > form button {
    height: 30px;
    width: 30px;
    border-radius: 100%;
    background:var(--second-color);;
    text-align: center;
    color:white;
    margin-top: 5px;
  }

header > ul {
    margin-top: 30px;
    display:flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-evenly;
    font-size: 0.8125rem;
    letter-spacing: -.05rem;
    font-size: 13px;
    color:var(--text-color);
}

header > ul li:active {
    height: 33px;
    border-bottom: 3px solid var(--second-color);;
}